@import "bootstrap/scss/bootstrap";

p{
    margin-bottom: 0;
}

.footer{
    padding: 10px 0;
    background-color: black;
    color: white;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .main {
        flex-grow: 1;
    }
}